/* Global Styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*title*/
h1{
 display: flex;
 justify-content: center;
}

/* Headings */
.education-heading, .experience-heading, .information-heading{
  font-size: 2em;
  text-align: center;
  color: whitesmoke;
}

/* Form Container */
.general-info-container,
.experience-container,
.education-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 500px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Labels */
label {
  font-weight: bold;
  color: #444;
  margin-bottom: 8px;
}

/* Inputs and Textarea */
input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 12px;
  transition: border-color 0.2s ease;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

/* Buttons */
button {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4338ca;
  box-shadow: 0 8px 20px rgba(67, 56, 202, 0.5);
}

button:focus {
  outline: none;
  border: 2px solid #9333ea;
}

/* Dark Mode Styling (default) */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f4f4f9;
    background-color: #242424;
  }

  body {
    background-color: #121212;
  }

  .general-info,
  .experience-info,
  .education-info {
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }

  label {
    color: #fff;
  }

  input,
  textarea {
    background-color: #444;
    border: 1px solid #555;
    color: #fff;
  }

  button {
    background-color: #4caf50;
  }

  button:hover {
    background-color: #45a049;
  }

    button:active {
      background-color: #388e3c;
    }
  }